<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sugandh Internship</title>
</head>
<body>
    <style>
        
    </style>
    <h2>Sugandh Tea Internship 2019 Task</h2>
    <form action="/generate" method="POST" enctype="multipart/form-data">
        <div class="div">
            <p>Name</p>
            <input type="text" name='name' />
        </div>
        <div>
            <p>Address</p>
            <input type="text" name='address' />
        </div>
        <div>
            <p>Recieved Amount</p>
            <input type="text" name='amount' />
        </div>
        <div>
            <p>Receipt Number</p>
            <input type="text" name='receipt_num' />
        </div>
        <div>
            <p>Upload Image</p>
            <input type="file" name='image' />
        </div>
        <br/>
        <button type="submit" >Generate Receipt Image</button>
    </form>
    
</body>
</html>